/******************
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Katuri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#header .depth_01 > li > a,
#header .depth_02 > li > a{
    display: block;
    text-align: center;
    line-height: 50px;
    color: #0f3f28;
}

#header{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
#header::after{
    content: "";
    display: block;
    clear: both;
}

#util{
    margin: 0 auto;
}
#util::after{
    content: "";
    display: block;
    clear: both;
}
#util .util_menu{
    float: right;
    width: 250px;
    margin-top: 20px;
}
#util .util_menu::after{
    content: "";
    display: block;
    clear: both;
}
#util .util_menu > li{
    float: left;
}
#util .util_menu > li::after{
    content: "";
    display: inline-block;
    clear: both;
    width: 1px;
    height: 10px;
    background-color: #666;
    margin-left: 2px;
}
#util .util_menu > li:last-child::after{
    display: none;
}
#util .util_menu > li > a,
#util .util_menu > li::after{
    vertical-align: middle;
}
#util .util_menu > li:nth-child(1){
    width: 16%;
}
#util .util_menu > li:nth-child(3){
    width: 24%;
}
#util .util_menu > li:nth-child(2),
#util .util_menu > li:nth-child(4),
#util .util_menu > li:nth-child(5){
    width: 20%;
}
#util .util_menu > li > a{
    display: inline-block;
    color: #333;
    font-size: 8px;
    font-family: 'TmoneyRoundWindRegular';
}

#header h1{
    display: block;
    width: 10%;
    overflow: hidden;
    height: 150px;
    margin-top: 25px;
    float: left;
}
#header h1 img{
    width: 100%;
    display: block;
}

#header nav{
    float: right;
    width: 70%;
    margin-top: 50px;
}
#header .depth_01{}
#header .depth_01::after{
    content: "";
    display: block;
    clear: both;
}
#header .depth_01 > li{
    float: left;
    width: calc(25% - 50px);
    margin-right: 50px;
    position: relative;
}
#header .depth_01 > li:last-child{
    margin-right: 0;
}
#header .depth_01 > li::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #0f3f28;
    bottom: 5px;
    clear: both;
    transition: 0.3s;
    margin: 0 auto;
}
#header .depth_01 > li:hover:after{
    width: 100%;
}
#header .depth_01 > li:hover > a{
    color: #ccead9;
}
#header .depth_01 > li > a{
    font-size: 18px;
    line-height: 50px;
    transition: 0.3s;
    font-family: 'TmoneyRoundWindExtraBold';
}

#header .depth_02{
    position: absolute;
    z-index: 22;
    top: 100%;
    left: 0;
    height: 0;
    transition: 0.3s;
    overflow: hidden;
}
#header .depth_01 > li:hover .depth_02{
    height: 200px;
}
#header .depth_02::after{
    display: block;
    content: "";
    clear: both;
}
#header .smenu_01{
    width: calc(100% + 70px);
}
#header .smenu_02{
    width: calc(100% + 185px);
}
#header .smenu_03{
    width: calc(100% + 100px);
}
#header .smenu_04{
    width: calc(100% + 200px);
}
#header .depth_02 > li{
    float: left;
    box-sizing: border-box;
}
#header .depth_02 > li:hover > a{
    color: #00ca00;
    font-weight: bold;
}
#header .depth_02 > li > a{
    font-size: 17px;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'TmoneyRoundWindRegular';
}

#header #bg_0f3f28{
    background-color: #ccead9;
    height: 0;
    z-index: 1;
    transition: 0.3s;
    position: absolute;
    top: 66%;
    width: 990px;
    right: -150px;
}
#header nav:hover + #bg_0f3f28{
    height: 50px;
}
#header_02 .util_02 li a,
#header_02 .header_02_depth_01 > li > a,
#header_02 .header_02_depth_02 > li > a{
    display: block;
    text-align: center;
}
#header_02 .header_02_depth_01 > li > a,
#header_02 .header_02_depth_02 > li > a{
    line-height: 50px;
}
#header_02 .util_02 li a,
#header_02 .util_02 li a::after{
    vertical-align: middle;
}

#header_02{
    width: 1200px;
    margin: 25px auto 0;
}
#header_02::after{
    content: "";
    display: block;
    clear: both;
}

#header_02 .util_02{
    float: right;
}
#header_02 .util_02::after{
    content: "";
    display: block;
    clear: both;
}
#header_02 .util_02 li{
    float: left;
}
#header_02 .util_02 li a{
    font-size: 8px;
    font-family: 'TmoneyRoundWindRegular';
}
#header_02 .util_02 li a::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #666;
    margin: 0 5px 0 5px;
}

#header_02 h1{
    width: 15%;
    height: 85px;
    overflow: hidden;
    float: left;
    display: block;
    margin-top: 20px;
}
#header_02 h1 a{}
#header_02 h1 a img{
    display: block;
    width: 100%;
}

#header_02 .header_02_depth_01{
    float: right;
    width: 70%;
    margin-top: 20px;
}
#header_02 .header_02_depth_01::after{
    content: "";
    display: block;
    clear: both;
}
#header_02 .header_02_depth_01 > li{
    float: left;
    width: calc(20% - 30px);
    margin-right: 30px;
    position: relative;
}
#header_02 .header_02_depth_01 > li > a{
    font-size: 18px;
    transition: 0.3s;
    color: #0f3f28;
    font-family: 'TmoneyRoundWindExtraBold';
}
#header_02 .header_02_depth_01 > li > a::after{
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 2px;
    background-color: #0f3f28;
    margin: 0 auto;
    transition: 0.6s;
}
#header_02 .header_02_depth_01 > li:hover > a{
    color: #ccead9;
}
#header_02 .header_02_depth_01 > li:hover > a::after{
    width: 100%;
}

#header_02 .header_02_depth_02{
    position: absolute;
    top: 100%;
    left: 10px;
    height: 0;
    overflow: hidden;
    transition: 1s;
    width: 100%;
    margin-left: -10px;
}
#header_02 .header_02_depth_01 > li:hover .header_02_depth_02{
    height: 300px;
}
#header_02 .header_02_depth_02 > li > a{
    font-size: 16px;
    transition: 0.3s;
    font-family: 'TmoneyRoundWindRegular';
}
#header_02 .header_02_depth_02 > li:hover > a{
    color: #0f3f28;
}
#header_02 .header_02_depth_02 > li > a::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    border-bottom: solid 1px #0f3f28;
    margin: 0 auto;
    transition: 0.3s;
}
#header_02 .header_02_depth_02 > li:hover > a::after{
    width: 138px;
}
#join_sub{
    width: 100px;
    margin: 100px auto;
}
#join_sub:hover .sub_join{
    background-color: #1e7b4f;
    border-radius: 15px;
}
#join_sub .sub_join{
    background-color: #0f3f28;
    display: inline-block;
    line-height: 50px;
    font-family: 'yg-jalnan';
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    border-radius: 15px;
    transition: 0.6s;
}
#warp{
    width: 1200px;
    margin: 0 auto;
}
#join{
    width: 800px;
    margin: 0 auto;
}
#join fieldset{
    border:0;
}
#join legend{
    width: 250px;
    text-align: center;
    font-family: 'yg-jalnan';
    font-size: 25px;
    color: #00d269;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    border: solid 2px #ffa477;
    background-color: #ffffbf;
    line-height: 50px;
}
#join p{
    margin: 40px auto;
}
#join .form_title{
    display: inline-block;
    font-family: 'Katuri';
    font-size: 20px;
    width: 45%;
    text-indent: 190px;
    color: #333;
}
#join p .name_01,
#join p .pw_01{
    display: inline-block;
    font-family: 'NanumSquareRound';
    line-height: 30px;
    font-size: 13px;
    width: 30%;
    border: solid 1px #ccc;
    outline-color: #1e7b4f;
}
#join p .id_01{
    display: inline-block;
    font-family: 'NanumSquareRound';
    line-height: 30px;
    font-size: 13px;
    width: 20%;
    border: solid 1px #ccc;
    outline-color: #1e7b4f;
}
#join p .bt_03:nth-child(3):hover{
    background-color: #0f3f28;
}
#join p .bt_03{
    display: inline-block;
    background-color: #1e7b4f;
    font-family: 'NanumSquareRound';
    color: #fff;
    border: 0;
    padding: 0 10px;
    height: 30px;
    transition: 0.3s;
    cursor: pointer;
}
#join p .htppy_01{
    display: inline-block;
    line-height: 30px;
    font-family: 'NanumSquareRound';
    font-size: 13px;
    border: solid 1px #ccc;
    width: 12%;
    outline-color: #1e7b4f;
}
#join p .hpp_01{
    display: inline-block;
    line-height: 30px;
    font-family: 'NanumSquareRound';
    font-size: 13px;
    border: solid 1px #ccc;
    width: 20%;
    outline-color: #1e7b4f;
}
#join p .bt_02{
    display: block;
    margin: 15px 46% 0;
    padding: 0 15px;
    height: 30px;
    background-color: #1e7b4f;
    color: #fff;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'NanumSquareRound';
}
#join p .bt_02:last-child:hover{
    background-color: #0f3f28;
}
#join p .email_01{
    display: inline-block;
    line-height: 30px;
    font-family: 'NanumSquareRound';
    font-size: 13px;
    border: solid 1px #ccc;
    width: 15%;
    outline-color: #1e7b4f;
}
#join p .dl_01{
    display: inline-block;
    line-height: 30px;
    font-family: 'NanumSquareRound';
    font-size: 13px;
    border: solid 1px #ccc;
    width: 22%;
    outline-color: #1e7b4f;
}
#join p .bt_01{
    display: inline-block;
    height: 30px;
    padding: 0 16px;
    background-color: #1e7b4f;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
    font-family: 'NanumSquareRound';
}
#join p .bt_01:last-child:hover{
    background-color: #0f3f28;
}
#join p .scb_01{
    background-color: #0f3f28;
    color: #fff;
    line-height: 50px;
    padding: 0 20px;
    border: 0;
    border-radius: 5px;
    font-family: 'yg-jalnan';
    transition: 0.3s;
    cursor: pointer;
    margin-top: 50px;
    outline-color: #1e7b4f;
}
#join p .scb_01:nth-child(2):hover{
    background-color: #1e7b4f;
}
#join p:last-child{
    text-align: center;
}
#warp img{
    display: block;
    margin: 0 auto;
    padding: 80px 0 30px;
}
#warp p select{
    height: 30px;
    outline-color: #1e7b4f;
}
#warp p .mail_01{
    padding: 0 6px;
}
#warp p .tel_01{
    padding: 0 10px;
}
#warp p .day_02,
#warp p .day_03{
    padding: 0 7px;
}
#warp p .back_index:nth-child(1):hover{
    background-color: #1e7b4f;
}
#warp p .back_index{
    display: inline-block;
    background-color: #0f3f28;
    color: #fff;
    line-height: 50px;
    padding: 0 20px;
    border: 0;
    border-radius: 5px;
    font-family: 'yg-jalnan';
    transition: 0.3s;
    cursor: pointer;
    margin-top: 50px;
}
#pop{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 5%;
    right: 5%;
    background-color: #1e7b4f;
    border-radius: 50%;
}
#pop:hover a{
    background-color: #0f3f28;
    border-radius: 50%;
}
#pop a{
    display: block;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 40px;
}

#footer .footer_text_01 li,
#footer .footer_text_02 li,
#footer .footer_text_03 li,
#footer .footer_text_04 li{
    color: #fff;
    font-size: 13px;
    line-height: 25px;
    float: left;
}
#footer .footer_text_01 li::after,
#footer .footer_text_02 li::after{
    content: "";
    display: inline-block;
    clear: both;
    width: 1px;
    height: 10px;
    background-color: #fff;
    margin: 0 7px;
}
#footer .footer_text_01 li:last-child::after,
#footer .footer_text_02 li:last-child::after{
    display: none;
}
#footer .footer_text_01::after,
#footer .footer_text_02::after,
#footer .footer_text_03::after,
#footer .footer_text_04::after{
    content: "";
    display: block;
    clear: both;
}

#wrap_02{
    width: 100%;
    background-color: #0f3f28;
}

#footer{
    width: 1200px;
    padding-top: 15px;
    margin: 0 auto;
}
#footer::after{
    content: "";
    display: block;
    clear: both;
}

#footer .footer_img{
    width: 155px;
    height: 100px;
    float: left;
    overflow: hidden;
}
#footer .footer_img a{}
#footer .footer_img a img{
    display: block;
    width: 100%;
}

#footer .footer_icon{
    width: 160px;
}
#footer .footer_icon a{}
#footer .footer_icon a i{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    display: inline-block;
}

#footer .footer_textbox{
    float: left;
    margin-left: 20px;
}
#footer .footer_title_text{
    font-size: 20px;
    color: #fff;
    margin-right: 5px;
    font-weight: bold;
}
#footer .footer_title_text span{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 30px;
    font-weight: normal;
}

#footer .footer_text_01{}
#footer .footer_text_01 li{}

#footer .footer_text_02{}
#footer .footer_text_02 li{}

#footer .footer_textbox_02{
    float: left;
}
#footer .footer_text_03{
    margin-top: 62px;
    margin-left: 20px;
}
#footer .footer_text_03 li{
    margin-right: 35px;
}

#footer .footer_text_04{
    margin-left: 20px;
}
#footer .footer_text_04 li{
    margin-right: 35px;
}
*****************/